<!DOCTYPE html>
<html>
<head>
	<title>Relatório de Devolução</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/application/assets/css/style.css">
</head>
<body>
	<center>
		<h3>Instituto Federal de Educação, Ciência e Tecnologia de São Paulo - Câmpus Guarulhos</h3>
		<h2>Recibo de Devolução</h2>
	</center>
	Usuário: [@nome] - [@prontuario]
	
	<br/>
	<table>
		<thead>
			<tr>
				<th align="left" height="20px" width="20%" >Patrimônio</th>
				<th align="left" height="20px" width="20%">Descrição</th>
				<th align="left" height="20px" width="20%" >Categoria</th>
			</tr>
		</thead>
		<tbody>
			[@equipamentos]
		</tbody>

	</table>	
	
	<br/>

	Empréstimo realizado em [@dataInicio] <br/>
	Material devolvido em [@dataEntrega] <br/>
	<br>
	<div align="right">
		_____________________________________ <br/>
		<span style="padding-right: 120px;">Assinatura</span>
	</div>
</body>
</html>